@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-6">
            <input id="movieName" name="movieName" class="form-control" />
        </div>
        You selected movie name: <b><span id="lblmovieName"></span></b>
    </div>
</div>
